<ion-menu [content]="sideMenuContent">
        <ion-content class="sidebarcolor">
            <div class="profile">
                <div class="profile-image">
                    <img src="assets/imgs/profile_staff.jpg" alt="profileimg">
                    <p>Owner</p>
                </div>
            </div>

          <ion-list no-lines>
              <button ion-item (click)="onLoad(ownerPage)">
                  <ion-icon name="home" item-left></ion-icon>
                Dashboard
              </button>
              
            <button ion-item (click)="onLoad(orderPage)">
                <ion-icon name="cart" item-left></ion-icon>
              Input Order
            </button>
      
            <button ion-item (click)="onLoad(addItemPage)">
                <ion-icon name="basket" item-left></ion-icon>
              Add Item
            </button>
      
            <button ion-item (click)="onLoad(addStaffPage)">
                <ion-icon name="man" item-left></ion-icon>
              Add Staff
            </button>
      
            <button ion-item (click)="onLoad(financeReportPage)">
                <ion-icon name="cash" item-left></ion-icon>
              Finance report
            </button>
          </ion-list>
        </ion-content>
</ion-menu>
<ion-nav [root]="loginPage" #sideMenuContent></ion-nav>
      