<ion-header>
  <ion-navbar color="primary">
    <ion-buttons start left>
        <button ion-button menuToggle left>
            <ion-icon name="menu"></ion-icon>
        </button>
    </ion-buttons>
    <ion-title>Input Your Order</ion-title>
  </ion-navbar>
</ion-header>


<ion-content padding>

</ion-content>
