page-login {
    ion-content{
        background-image: url("../../assets/imgs/login.png");
        background-size: cover;
        background-repeat: no-repeat;
        text-align: center;
    }

    img{
        margin-top: 30px;
        width: 70%;
        height: auto;
        box-shadow: rgba($color: #000000, $alpha: 0.5);
    }

    button{
        // -webkit-box-shadow : 0 10px 30px 0 rgba(255,255,255,0.4);
        // box-shadow: 0 10px 30px 0 rgba(255,255,255,0.4);
        margin: 0px;
    }

    .login{
        margin-top: 10px;
        text-align: center;
        border: none;
        padding: 15px 80px;
        text-decoration: none;
        display: inline-block;
        transition: all 0.3s ease-in-out;
        width: 60%;
        height: 25px;
        border-radius: 14px;
        color: #2D3142;
        background-color: white;
    }

    .login:focus{
        background-color: #EEC643;
        color: white;

        ion-icon{
            color: #EEC643;
        }
    }

    .username, .password{
        background-color: white;
        border: none;
        color: #2D3142;
        text-decoration: none;
        transition: all 0.5s ease-in-out;
        margin: 0 auto;
        width: 60%;
        height: 25px;
        border-radius: 7px;
        border: 2px solid white;
        margin-top: -8px;
    }

    
}
