<ion-content>
  <img src="assets/imgs/logosands.png" alt="logo">

  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>

  <form [formGroup]="registerForm" (ngSubmit)="onSubmitForm()">
    <ion-list>
      <ion-item class="username">        
        <ion-label> <ion-icon color="dark" name="person"></ion-icon></ion-label>
        <ion-input clearInput type="text" formControlName="username"></ion-input>
      </ion-item>
      <ion-item  class="password">        
        <ion-label> <ion-icon  color="dark" name="lock"></ion-icon></ion-label>
        <ion-input clearInput type="password" formControlName="password"></ion-input>
      </ion-item>
    </ion-list>
    <button color="white" ion-button class="login" type="submit">LOGIN</button>
  </form>
  <div padding></div>

  
</ion-content>
