<ion-header>
  <ion-navbar color="primary">
    <ion-buttons start left>
        <button ion-button menuToggle >
            <ion-icon name="menu"></ion-icon>
        </button>
    </ion-buttons>
    <ion-title>Financial Report</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>

</ion-content>
